/* src/styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
  }
  
  .card {
    background-color: #ffffff; /* Fondo de la tarjeta */
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  h4 {
    color: #00e676; /* Verde lima */
    margin-bottom: 20px;
  }
  
  .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .MuiInputLabel-root {
    color: #00e676; /* Verde lima para las etiquetas de los campos */
  }
  
  .MuiInputBase-root {
    color: #e0e0e0; /* Texto dentro del campo */
  }
  
  .MuiInputBase-input {
    padding: 10px;
  }
  
  .MuiButton-root.primary {
    background-color: #00d36d; /* Verde lima */
    color: #ffffff; /* Texto oscuro */
    margin: 10px 0;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;
  }
  
  .MuiButton-root.primary:hover {
    background-color: #ffffff; /* Verde lima más oscuro */
    color:#00d36d;
    border: solid #00d36d 2px;
    border-radius: 10px;
  }
  
  .MuiButton-root.secondary {
    background-color: #333333; /* Gris oscuro */
    color: #e0e0e0; /* Texto claro */
    margin: 10px 0;
    transition: background-color 0.3s ease-in-out;
  }
  
  .MuiButton-root.secondary:hover {
    background-color: #424242; /* Gris oscuro más claro */
  }
  
  hr {
    border: 1px solid #333333; /* Línea divisoria gris oscuro */
    margin: 20px 0;
  }
  